In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [3]:
df=pd.DataFrame(data)

In [4]:
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [13]:
df2=pd.DataFrame(data, columns=['year', 'state', 'pop', 00],
                index=['one', 'two', 3, 4, 'five'])

In [14]:
df2

      year   state  pop    0
one   2000    Ohio  1.5  NaN
two   2001    Ohio  1.7  NaN
3     2002    Ohio  3.6  NaN
4     2001  Nevada  2.4  NaN
five  2002  Nevada  2.9  NaN

In [15]:
df2.columns

Index(['year', 'state', 'pop', 0], dtype='object')

In [17]:
df2[0]

one     NaN
two     NaN
3       NaN
4       NaN
five    NaN
Name: 0, dtype: object